doctype 5
html
	head
		title Hackoverflow System
	link(rel='stylesheet', href='/stylesheets/main.css')
	link(rel='stylesheet', href='/stylesheets/main2.css')
	link(rel='stylesheet', href='/stylesheets/createQuestion.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
	script(data-main='scripts/main', src='scripts/require.js')
	body
		header#header
			div.wrapper
				h1#logo Hackoverflow
				span
					input#search(type='search', placeholder='Потърси Въпрос')
				span
					a#login(href="#") Влез
				span
					a#signup(href="#") Регистрация
	span.clrfix
	nav#navigation
		ul
			li
				a#questions(href="#") Въпроси
			li
				a#tags(href="#") Предмети
			li
				a#users(href="#") Потребители
			li
				a#ask(href="#") Попитай
	block content
