doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
		script(data-main='scripts/main', src='scripts/require.js')

	body
		header#header
			h1#logo Hackoverflow
			a#signup(href="#") Регистрация
			a#login(href="#") Влез
			input#search(type='search', placeholder='Потърси Въпрос')
		nav#navigation
			ul
				li 
					a#questions(href="#") Въпроси
				li 
					a#tags(href="#") Предмети
				li 
					a#users(href="#") Потребители
				li 
					a#ask(href="#") Попитай
		block content