doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/createQuestion.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    script(data-main='scripts/main', src='scripts/require.js')
  
  body
    block content