doctype 5
html
	head
		title Hackoverflow System
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/question.css')
		link(rel='stylesheet', href='/stylesheets/createQuestion.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
		script(data-main='scripts/main', src='scripts/require.js')
	body
		header#header
			div.wrapper
				h1#logo Hackoverflow
				input#search(type='search', placeholder='Потърси Въпрос')
				a#login(href="#") Влез
				a#signup(href="#") Регистрация
			span.clrfix
	nav#navigation
			div.wrapper
				ul
					li
						a#ask(href="#") Попитай
					li
						a#users(href="#") Потребители
					li
						a#tags(href="#") Предмети
					li
						a#questions(href="#") Въпроси

				span.clrfix
	block content
