input[type="submit"] {
  width: 120px;
  margin-left: 500px;
  display: block;
}
.span-width {
  width: 80px;
  font-size: 15px;
  font-family: sans-serif;
  color: #8B7765;
}
.input-width {
  width: 500px !important;
}
.legend {
  width: 100%;
  font-size: 25px !important;
  font-family: monospace !important;
  color: black !important;
}
.legend #title {
  padding-left: 10px;
}
