input[type="submit"] {
  width: 120px;
  margin-left: 510px;
  display: block;
  font-family: fantasy !important;
}
.span-width {
  width: 80px;
  font-size: 15px;
  font-family: fantasy;
  color: #8B7765;
}
.input-width {
  width: 500px !important;
}
h4 {
  margin: 1em 0 0.75em;
  padding: 0 0 5px 0;
  width: 200px;
  font-size: 25px !important;
  font-family: fantasy !important;
  color: black !important;
}
.legend {
  width: 600px;
  font-size: 25px !important;
  font-family: fantasy !important;
  color: black !important;
}
