header {
  /*	background-image: linear-gradient(bottom, rgb(224,242,249) 31%, rgb(209,243,255) 93%);
	background-image: -o-linear-gradient(bottom, rgb(224,242,249) 31%, rgb(209,243,255) 93%);
	background-image: -moz-linear-gradient(bottom, rgb(224,242,249) 31%, rgb(209,243,255) 93%);
	background-image: -webkit-linear-gradient(bottom, rgb(224,242,249) 31%, rgb(209,243,255) 93%);
	background-image: -ms-linear-gradient(bottom, rgb(224,242,249) 31%, rgb(209,243,255) 93%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.31, rgb(224,242,249)),
		color-stop(0.93, rgb(209,243,255))
	);
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;

	#logo {
		color: #fd7536 !important;
	}*/

}
h1 {
  margin: 1em 0 0.75em;
  padding: 0 0 5px 0;
  width: 200px;
  font-size: 40px !important;
  font-family: monospace !important;
  color: black !important;
}
.header-buttons {
  float: left;
}
div span a {
  margin-top: 16px;
  margin-left: 10px;
}
div span input[type="search"] {
  margin-top: 10px;
  margin-left: 10px;
}
