/* CSS reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}
#header {
  margin: 0 auto;
  background-color: #eee;
}
#header #logo {
  float: left;
}
#header #signup,
#header #login,
#header #search {
  float: right;
}
/* nav */
#navigation {
  padding: 10px;
}
#navigation ul li {
  float: right;
  padding: 10px;
  color: #fff;
  background-color: red;
}
#navigation ul li:nth-child(odd) {
  background-color: green;
}
ul#list-menu {
  width: 1000px;
  display: table;
  margin: 0 auto !important;
  border-bottom: 1px solid #acacac;
}
ul#list-menu li {
  float: right;
  padding: 5px;
  border-top: 1px solid #acacac;
  border-left: 1px solid #acacac;
  border-right: 1px solid #fff;
  /* gradienrt */

  background-image: linear-gradient(bottom, #ebebeb 95%, #f5f5f5 42%);
  background-image: -o-linear-gradient(bottom, #ebebeb 95%, #f5f5f5 42%);
  background-image: -moz-linear-gradient(bottom, #ebebeb 95%, #f5f5f5 42%);
  background-image: -webkit-linear-gradient(bottom, #ebebeb 95%, #f5f5f5 42%);
  background-image: -ms-linear-gradient(bottom, #ebebeb 95%, #f5f5f5 42%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.95, #ebebeb), color-stop(0.42, #f5f5f5));
}
ul#list-menu li.ask-question {
  float: left;
  padding: 5px;
  border: 0;
  background-image: none;
}
ul#list-menu li.ask-question a:link,
ul#list-menu li.ask-question a:visited {
  color: #0077cc;
}
ul#list-menu li.ask-question a:hover,
ul#list-menu li.ask-question a:active {
  color: #790000;
  text-decoration: none;
}
ul#list-menu li:first-child {
  border-right: 1px solid #acacac;
}
ul#list-menu li:last-child {
  margin-bottom: -1px;
  border-bottom: 1px solid #fff;
}
ul#list-menu li.active {
  background-color: #fff;
  background-image: none;
}
ul#list-menu li:hover {
  cursor: pointer;
  background-color: #fff;
  background-image: none;
}
ul#top-questions-list {
  width: 1000px;
  display: table;
  margin: 0 auto !important;
}
ul#top-questions-list li {
  margin-bottom: 1px;
}
ul#top-questions-list li .votes,
ul#top-questions-list li .answers,
ul#top-questions-list li .views,
ul#top-questions-list li .question {
  position: relative;
  float: left;
}
ul#top-questions-list li .votes,
ul#top-questions-list li .answers,
ul#top-questions-list li .views {
  text-align: center;
  line-height: 70px;
  font-size: 18px;
  font-weight: bold;
  width: 80px;
  height: 70px;
}
ul#top-questions-list li .votes .sub-text,
ul#top-questions-list li .answers .sub-text,
ul#top-questions-list li .views .sub-text {
  position: absolute;
  top: 45px;
  width: 100%;
  line-height: normal;
  font-size: 13px;
  font-weight: normal;
}
ul#top-questions-list li .votes {
  color: #9aa5bb;
  background-color: #fff;
}
ul#top-questions-list li .answers {
  color: #790000;
  background-color: #f2fafd;
}
ul#top-questions-list li .views {
  color: #6e5999;
  background-color: #e0f2f9;
}
ul#top-questions-list li .question {
  overflow: hidden;
  padding: 10px;
  width: 740px;
  height: 50px;
}
ul#top-questions-list li .question:hover {
  background-color: #f2fafd;
}
ul#top-questions-list li .question .question-title {
  position: absolute;
  font-size: 16px;
}
ul#top-questions-list li .question .question-title a:link,
ul#top-questions-list li .question .question-title a:visited {
  color: #0077cc;
}
ul#top-questions-list li .question .question-title a:hover,
ul#top-questions-list li .question .question-title a:active {
  color: #790000;
  text-decoration: none;
}
ul#top-questions-list li .question ul.tags-list {
  position: absolute;
  bottom: 0;
}
ul#top-questions-list li .question ul.tags-list li {
  display: block;
  float: left;
  margin: 5px;
  padding: 2px 5px;
  color: #6b6da6;
  font-size: 12px;
  background-color: #e0eaf1;
  border-right: 1px solid #b3cee1;
  border-bottom: 1px solid #b3cee1;
}
ul#top-questions-list li .question ul.tags-list li:first-child {
  margin-left: 0;
}
ul#top-questions-list li .question .metadata {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
ul#top-questions-list li .question .metadata .date,
ul#top-questions-list li .question .metadata .author {
  display: inline;
}
ul#top-questions-list li .question .metadata .date {
  color: #ccc;
}
ul#top-questions-list li .question .metadata .author a:link,
ul#top-questions-list li .question .metadata .author a:visited {
  color: #0077cc;
}
ul#top-questions-list li .question .metadata .author a:hover,
ul#top-questions-list li .question .metadata .author a:active {
  color: #790000;
  text-decoration: none;
}
.wrapper {
  width: 1000px;
  display: table;
  margin: 0 auto;
}
#navigation ul {
  list-style: none;
}
#navigation li {
  float: left;
}
#navigation:after {
  clear: both;
  content: "";
  height: 0;
}
/*



ul.tags-list{
  list-style: none;
}

ul.tags-list li{
  float: left;
}

.tag:after{
  content: ", ";
}

.tag:last-child:after{
  content: "";
}*/
.clrfix {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
