body{
  background-color: #fff !important;
}

ul.tags-list{
  list-style: none;
}

ul.tags-list li{
  float: left;
}

.tag:after{
  content: ", ";
}

.tag:last-child:after{
  content: "";
}

.clrfix {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}