form(method="post" action="#" name="input")
	Заглавие: input(type="text", class="input" placeholder="Заглавие" name="title")
	input(type="text", class="inputText" placeholder="задайте въпроса си тук" name="text")
	input(type="text" class="inputTags" placeholders="добавете тагове, разделени със запетай" name="tags")
	input(type="submit" value="Submit", class="button")