div(class="container")
	legend(class="legend") Добави въпрос
	form(method="post", action="#", name="input")
		div(class="input-group")
			span(class="input-group-addon span-width") Заглавие: 
			input(type="text", class="form-control input-field input-width", placeholder="Заглавие", name="title", id="title")
		div(class="input-group")
			span(class="input-group-addon span-width") Bъпрос:
			textarea(placeholder="Опишете въпроса си тук", name="text", class="form-control input-field input-width", rows="3", id="text")
		div(class="input-group")
			span(class="input-group-addon span-width") Тагове:
			input(type="text", class="form-control input-field input-width", placeholder="Таг1, таг2", name="tags", id="tags")
		input(type="submit", value="Публикувай", class="btn btn-info margin")
